@using Interfaces.Entities

<LMTLocal>
    <style>
        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .TrafficSignInfo {
            margin-top: 20px;
        }

            .TrafficSignInfo .Info {
                border: 4px dashed #707070;
                padding-top: 5px;
            }
    </style>

        <div lmt-grid="md-3,md-9" class="TrafficSignInfo">
            <div>
                <div>
                    <img src="@trafficsign.ImgUrl" />
                </div>
                <div class="Info">
                    <h1>@trafficsign.Name</h1>
                    <label>Loại: @trafficsign.Type</label><br />
                    <label>Mã: @trafficsign.Id</label><br />
                    <p>@trafficsign.Description</p>
                </div>
            </div>
        </div>
</LMTLocal>

@functions{
    [Parameter]
    private TrafficSignInfo trafficsign { get; set; }
}
